.block_for_items{
    margin-top: 66px;
    display: flex;
    flex-direction: column;
  }
  .input_filter{
    display: flex;
    justify-content: center;
    gap: 83px;
  }
  .filters{
    display: flex;
    gap: 35px;
  }
  .buttons_filters{
    display: flex;
    gap: 5px;
  }
  .input_text{
    display: flex;
    gap: 19px;
  }
  .looking_for,.our_filters{
    font-family: 'Merienda';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;

color: #000000;
  }
  .input_loking{
    margin-top: -6px;
    width: 180px;
    height: 30px;
    text-align: center;

    font-family: 'Merienda';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 17px;
text-align: center;
background-color: #FFFFFF;
border:1px solid gray ;
border-radius: 4px;

  }
  .buttons_country{
    box-sizing: border-box;
    padding-top: 6px;
    cursor:pointer;
    margin-top: -6px;
    width: 75px;
    height: 30px;
    border:1px solid gray ;
border-radius: 4px;

font-family: 'Merienda';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 17px;
text-align: center;

color: #000000;
  }
  .image_card{
    margin: 0 auto;
    width: 170px;
height: 115px;
  }
  .items_card{
     margin-top: 50px; 
  display: flex;
  flex-wrap: wrap;
  gap: 62px;

  }
  .card_item{ 
    box-sizing: border-box;
    padding: 22px 20px  20px;
  display: flex;
  width: 220px;
    height: 260px;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  border: 1px solid gray;
  }
  .name_coffee{
    font-family: 'Merienda';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;

color: #000000;
  }
  .country_coffee{
    font-family: 'Merienda';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: right;

color: #000000;
  }
  .price_cofee{

font-family: 'Merienda';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
text-align: right;
color: #000000;


  }
  .conteiner_for_items{
    max-width: 800px;
    margin: 0 auto;

  }