.text_footer{
    display: flex;
    justify-content: center;
    }
    .text_footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    .beans_black_block_footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
    position: relative;
    }
    .beans_black_block_footer::before{
    content: '';
    position: absolute;
    background-color: #000000;
    top: 15px;
    right:616px;
    width: 60px;
    height: 1px;
    }
    .beans_black_block_footer::after{
    content: '';
    position: absolute;
    background-color: #000000;
    top: 15px;
    left:616px;
    width: 60px;
    height: 1px;
    }